.timer {
    visibility: hidden;
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    background: yellowgreen;
    background-image: 
    linear-gradient(to right, transparent 50%, #655 0);
  }

.timer::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(0deg);
    animation: none;
}
  
@keyframes spin {
    to { transform: rotate(.5turn); }
  }
  
@keyframes bg {
    50% { background: #655; }
}

.startTime{
    display: flex;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 10px;
    background-color:orange;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 3px darkorange;
}