#questionbox {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {

font-size: 24px;
text-align: center;    
}

.answer {
font-size: 18px;
}