body{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

.popup_overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgb(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
}

.popup_modal{
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.popup_modal h1{
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
}

.image_div{
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.image_div img{
    object-fit: cover;
    height: 400px;
}

.popup_text{
    font-size: 16pt;
    line-height: 1.5;
    margin: 0px 10% 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.popup_buttons{
    display: flex;
}

.popup_buttons div{
    margin: 20px;
    width: 150px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: skyblue;
    color: black;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s;
}

.popup_buttons div:hover{
    cursor: pointer;
    background-color: deepskyblue;
}

.popup_buttons.exit,.popup_buttons.back{
    background-color: lightgray;
}

.popup_buttons.back{
    display: none;
}

.popup_buttons.start{
    display: none;
}